<header > 
	<div class="container">
		
			<div id="branding">
				<img src="/images/misc/brandlogo.jpg" alt=" Chat rooms logo">
			</div>
	<div id="myCarousel" class="carousel-inner hidden-xs">
	<img src= "/images/misc/homepage.jpg" alt="The home page image">
	</div>
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thenavbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

    	</div>
    	<nav class=" collapse navbar-collapse" id="thenavbar" role="navigation">
			<ul class= "nav navbar-nav">
				<li> <a href="/"><i class="icon-home"></i> Home</a></li>
				<li> <a href="/speakers"><i class="icon-user"></i> Speakers</a></li>
			</ul>
		</nav>
	</div><!-- navbar container-->
</header>