<article class="whoshouldcome">
  <h1>Who should come?</h1>
  <p>
    Anybody interested in art and the creative industry: Painters, sculptors, photographers and graphic artists. Those interested in meeting and making a connection with others in the local art scene.

  </p>
</article><!-- article -->